/* Custom Styles */

/* -----------------------
    Element Selectors 
------------------------*/
html,
body,
header,
#intro {
    height: 100%;
}

/* -----------------------
    ID Selectors 
------------------------*/
#homehr {
    width: 40%;
}

#standardhr{
    width: 30%;
    border-top: 1px solid #032A66;
}

#icon {
    color: #032A66;
}

#icon:hover {
    color: #06347D;
}

/* -----------------------
    Class Selectors 
------------------------*/

.full-bg-img {
    background: url("home-bg-img.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover; 
}

.navbar {
    background-color:#032A66;
}

.navbar a{
    color: white;
}

.navbar a:hover{
    background-color: #06347D;
}

.steps {
    background: #032A66;
    padding: 10px;
}

.steps-red {
    background: #BD1134;
    padding: 10px;
}

.instructions {
    background: #06347D;
    padding: 15px;
}

.instructions-red {
    background: #D83353;
    padding: 15px;
}

.btn{
    background-color: #032A66;
}

.btn:hover {
    background-color: #06347D;
}

/* -----------------------
    Media Queries
------------------------*/
@media (max-width: 992px) {
   #steps {
       margin: 10px;
   }
   #about {
       margin-top: 15px;
       margin-bottom: 40px;
   }
}
